<script> let caldata = <%= raw @caldata.to_json %>; </script>

<div class="full-screen penguins" data-photo="penguins">
  <br><br><br>

  <div class="container">
    <% if current_user %>
    <script>
      let dissonance_total = <%= @total %>;
      let total_entries = <%= @entries %>;
    </script>
    <div class="row">
      <div class="col-12 col-md-8 ml-auto mr-auto">
        <div class="text-center">
          <h3 class="colour-title question title">Trends</h3>
          <p class="description advice text-white">Subtitle</p>
        </div>
        <div class="card card-raised card-form-horizontal mt-4">
          <div class="card-body pr-5">
            <div id="perspective-content-container">
            </div>
            <div class="row justify-content-end">
              <div class="col-11 col-sm-6 col-md-5 col-lg-4 mt-2 ml-auto">
                <button type="button" class="btn btn-primary btn-block btn-orange submit-button">NEXT</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% else %>
    <div class="row">
      <div class="col-12 col-md-8 ml-auto mr-auto">
        <div class="card card-raised card-form-horizontal mt-4">
          <div class="card-body pr-5">
            <p>You need to Sign In or Register to see Trends.</p>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div

<!-- Templates Below -->

<template id="dissonance-template">
  <div class="row">
    <div class="col-12">
      <div id="piechart"></div>
      <div class="row">
        <div class="col-11 ml-auto">
          <p>Sometimes, the way that we feel and the way that we talk or behave can get out of sync, and we might not even realize it. Smart humans figured out that you can detect what experts call 'dissonance' by looking for patterns of words that don't line up with the way we feel. Some degree of dissonance is normal, and 'normal' is different for all people. </p>
        </div>
      </div>
    </div>
  </div>
</template>

<template id="mood-template">
  <div class="row">
    <div class="col-12">
      <%= link_to(entries_path) do %>
        <canvas id="moodchart" style="width:650px; height:80%"></canvas>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-11 ml-auto">
      <p>Did you ever see the movie 'Office Space'? Every day of Peter's life was worse than the day before. That was so sad! In real life, we have good days AND bad days. Tracking them can help you set goals and identify patterns.</p>
    </div>
  </div>
</template>

<template id="activities-template">
  <div class="row">
    <div class="col-12">
      <script type="text/javascript">
        var word_array = <%= raw @activities.to_json %>;
        $(function() {
          // When DOM is ready, select the container element and call the jQCloud method, passing the array of words as the first argument.
          $("#wordcloud").jQCloud(word_array);
        });
      </script>
      <div id="wordcloud" class="mx-auto" style="width: 50vmin;"></div>
      <div class="row">
        <div class="col-11 ml-auto">
          <p>Obvious as it may be, it's often a surprise to people the extent to which the way that they feel is impacted by what they do. Check out how you've been voting with your time and ask yourself if it lines up with your values.</p>
        </div>
      </div>
    </div>
  </div>
</template>

<template id="people-template">
  <div class="row">
    <div class="col-12">
      <script type="text/javascript">
        var word_array = <%= raw @people.to_json %>;
        $(function() {
          // When DOM is ready, select the container element and call the jQCloud method, passing the array of words as the first argument.
          $("#wordcloud").jQCloud(word_array);
        });
      </script>
      <div id="wordcloud" class="mx-auto" style="width: 50vmin;"></div>
      <div class="row">
        <div class="col-11 ml-auto">
          <p>We are a reflection of those around us. That's why I keep you around! Make sure the people in your life leave a positive footprint. Pay attention to how your mood changes when you have different people in your life.</p>
        </div>
      </div>
    </div>
  </div>
</template>

<template id="adjectives-template">
  <div class="row">
    <div class="col-12">
      <script type="text/javascript">
        var word_array = <%= raw @adjectives.to_json %>;
        $(function() {
          // When DOM is ready, select the container element and call the jQCloud method, passing the array of words as the first argument.
          $("#wordcloud").jQCloud(word_array);
        });
      </script>
      <div id="wordcloud" class="mx-auto" style="width: 50vmin;"></div>
      <div class="row">
        <div class="col-11 ml-auto">
          <p>If I didn't know you as well as I do, I'd want to know you better. If I had a home, I would invite you over for a dinner party for sure.</p>
        </div>
      </div>
    </div>
  </div>
</template>

<template id="gratitude-template">
  <div class="row">
    <div class="col-12">
      <script type="text/javascript">
        var word_array = <%= raw @gratitude.to_json %>;
        $(function() {
          // When DOM is ready, select the container element and call the jQCloud method, passing the array of words as the first argument.
          $("#wordcloud").jQCloud(word_array);
        });
      </script>
      <div id="wordcloud" class="mx-auto" style="width: 50vmin;"></div>
      <div class="row">
        <div class="col-11 ml-auto">
          <p>If self-awareness is the secret sauce to a life well lived, gratitude is the recipe. We don't usually spend time consciously reflecting on what we feel grateful for. But, being aware of these things will take us far, and it starts with the littlest things; were you on time to your meeting despite the weather? Did a stranger pay you a welcome compliment?</p>
        </div>
      </div>
    </div>
  </div>
</template>
<script type="text/javascript" src="/assets/moment.min.js"></script>
<script type="text/javascript" src="/assets/moodcalendar.js"></script>